<!doctype html>
<html lang="en">
<head>
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>HomePage</h1>
    <br>
    <form action="{%url 'send' %}" method="post">{% csrf_token %}
        <label for="user">USER:</label><br><br>
        <input type ="text" name="user"><br>
        <label for="fulltextarea">msg:</label><br><br>
        <input type="text" name = "fulltextarea" cols="40" rows="10"/>
        <br>
        <input type= "Submit" value="submit"/>
    </form>

    <br><br>
 <table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">sender_user</th>
      <th scope="col">sender_msg</th>
      <th scope="col">sent_date_time</th>
      <th scope="col">sender_ip_address</th>
      <th scope="col">response_msg</th>
      <th scope="col">response_date_time</th>
      <th scope="col">server_ip_address</th>
      <th scope="col">server_port</th>
      <th scope="col">duration_between_send_receive_msg</th>
    </tr>
  </thead>
  <tbody>
  {% for data in datas %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <th>{{data.sender_user}}</th>
      <td>{{data.sender_msg}}</td>
      <td>{{data.sent_date_time}}</td>
      <td>{{data.sender_ip_address}}</td>
      <td>{{data.response_msg}}</td>
      <td>{{data.response_date_time}}</td>
      <td>{{data.server_ip_address}}</td>
      <td>{{data.server_port}}</td>
      <td>{{data.duration_between_send_receive_msg}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>





